---
title: Bon ben, pas trouvé. Vraiment.
permalink: 404.html
layout: 404.njk
eleventyExcludeFromCollections: true

---


<div class="section">
  <div class="container">
    <div class="has-text-centered my-6">
      <h1 class="title is-1 is-spaced">Error #404.<br/>Bon, 405 avec la TVA.</h1>
      <h2 class="subtitle is-4">Désolés, mais alors désolés. Y'a pas cette page. Nulle part.</h2>
      <a href="/" class="button">Hop, à la maison.</a>
    </div>
  </div>
</div>
